nav {
    margin: 50px auto 0px auto;
    padding: 20px;
    background-color: rgb(101, 216, 255);
    max-width: 700px;
}

#ul-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
    text-transform: uppercase;
}