<nav>
    <ul id="ul-menu">
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Start
            </NavLink>
        </li>
        <li>
            <NavLink href="converter">
                Konverterare
            </NavLink>
        </li>
        <li>
            <NavLink href="json">
                JSON
            </NavLink>
        </li>
    </ul>
</nav>