@page "/"

<PageTitle>Home</PageTitle>

<h1>Startsida</h1>

<section>
    <p>
        På den här webbplatsen kan du konvertera meter till fot, km/h till miles/hour och få slumpmässig information om katter.
    </p>
</section>

<InfoBox Title="Det här är en komponent" />