<div class="info-component">
    <h3>@Title</h3>
    <p>Här kan det stå viktig information</p>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}